
.CodeMirror {
  height: 340px !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}
.edit_div{
  flex: 1 1 13.33%;
  transition: flex 0.5s;
  border: 1px solid black;
}
 .editor_container {
  display: flex;
}

.editor_column {
  flex: 1 1 13.33%;
  transition: flex 0.5s;
  border: 1px solid black;
}
.code_head{
  background: #1d1e22;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 5px;
  border-bottom: 1px solid black;
}
.code_heading_text{
  font-size: 20px;
  padding-left: 5px;
  color: #fff;
}
.header{
  background: #060606;
  color: rgb(170, 174, 188);
  height: 9vh;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 10px;
}
.expand_text{
  font-size: 13px;
  padding: 5px;
  color: #fff;
  background: #060606;
  border-radius: 5px;
}

