
.CodeMirror {
  height: 340px !important;
  color: #fff;
}

.CodeMirror-gutters {
  background: #1d1e22 !important;
}

.CodeMirror-scroll {
  background: #1d1e22;
}
.edit_div{
  flex: 1 1 13.33%;
  transition: flex 0.5s;
  border: 1px solid black;
}
/* .container {
  display: flex;
}

.column {
  flex: 1 1 13.33%;
  transition: flex 0.5s;
  border: 1px solid black;
}

button {
  width: 100%;
  height: 100%;
} */
